In [1]:
import pandas as pd
import pyodbc

try:
    # üîπ Conexi√≥n a SQL Server (autenticaci√≥n de Windows)
    conexion = pyodbc.connect(
        "Driver={ODBC Driver 17 for SQL Server};"
        "Server=localhost\\SQLEXPRESS;"
        "Database=POCO;"
        "Trusted_Connection=yes;"
    )

    print("‚úÖ Conexi√≥n a SQL Server exitosa.")

    # üîπ Consulta SQL
    SQL_QUERY = "SELECT * FROM Sales"

    # üîπ Ejecutar y guardar resultados en un DataFrame
    df_sales = pd.read_sql(SQL_QUERY, conexion)
    print(f"üìä DataFrame creado exitosamente con {len(df_sales)} filas.")
    print(df_sales.head())  # muestra las primeras filas

except Exception as e:
    print(f"‚ùå Error al conectar o ejecutar la consulta: {e}")

finally:
    # üîπ Cerrar conexi√≥n correctamente
    if 'conexion' in locals():
        conexion.close()
        print("üîå Conexi√≥n a SQL Server¬†cerrada.")

# 4. Mostrar el DataFrame
print("\nPrimeras 5 filas del DataFrame:")
print(df_sales.head())
print("\nInformaci√≥n del DataFrame:")
df_sales.info()

‚úÖ Conexi√≥n a SQL Server exitosa.

C:\Users\Llels\AppData\Local\Temp\ipykernel_20316\1095789106.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales = pd.read_sql(SQL_QUERY, conexion)

üìä DataFrame creado exitosamente con 29999 filas.
   ChannelID    DateKey  DiscountAmount  DiscountQuantity  ProductKey  \
0          1 2011-01-01          1.2990               2.0           1
1          1 2011-01-01          1.9485               3.0           1
2          1 2011-01-01          0.0000               0.0           1
3          1 2011-01-01          1.2990               2.0           2
4          1 2011-01-01          1.4520               2.0           3

   PromotionKey  ReturnAmount  ReturnQuantity  SalesAmount  SalesKey  \
0             2           0.0             0.0      50.6610         1
1             2           0.0             0.0      50.0115         1
2            10           0.0             0.0      51.9600         1
3             2           0.0             0.0      50.6610         1
4             2           0.0             0.0      56.6280         1

   SalesQuantity  StoreKey  TotalCost  UnitCost  UnitPrice
0            4.0        58      26.48      6.62      12.99
1            4.0        69      26.48      6.62      12.99
2            4.0       206      26.48      6.62      12.99
3            4.0        35      26.48      6.62      12.99
4            4.0        83      29.60      7.40      14.52
üîå Conexi√≥n a SQL Server¬†cerrada.

Primeras 5 filas del DataFrame:
   ChannelID    DateKey  DiscountAmount  DiscountQuantity  ProductKey  \
0          1 2011-01-01          1.2990               2.0           1
1          1 2011-01-01          1.9485               3.0           1
2          1 2011-01-01          0.0000               0.0           1
3          1 2011-01-01          1.2990               2.0           2
4          1 2011-01-01          1.4520               2.0           3

   PromotionKey  ReturnAmount  ReturnQuantity  SalesAmount  SalesKey  \
0             2           0.0             0.0      50.6610         1
1             2           0.0             0.0      50.0115         1
2            10           0.0             0.0      51.9600         1
3             2           0.0             0.0      50.6610         1
4             2           0.0             0.0      56.6280         1

   SalesQuantity  StoreKey  TotalCost  UnitCost  UnitPrice
0            4.0        58      26.48      6.62      12.99
1            4.0        69      26.48      6.62      12.99
2            4.0       206      26.48      6.62      12.99
3            4.0        35      26.48      6.62      12.99
4            4.0        83      29.60      7.40      14.52

Informaci√≥n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ChannelID         29999 non-null  int64
 1   DateKey           29999 non-null  datetime64[ns]
 2   DiscountAmount    29999 non-null  float64
 3   DiscountQuantity  29999 non-null  float64
 4   ProductKey        29999 non-null  int64
 5   PromotionKey      29999 non-null  int64
 6   ReturnAmount      29999 non-null  float64
 7   ReturnQuantity    29999 non-null  float64
 8   SalesAmount       29999 non-null  float64
 9   SalesKey          29999 non-null  int64
 10  SalesQuantity     29999 non-null  float64
 11  StoreKey          29999 non-null  int64
 12  TotalCost         29999 non-null  float64
 13  UnitCost          29999 non-null  float64
 14  UnitPrice         29999 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(5)
memory usage: 3.4 MB